
@import url('https://fonts.googleapis.com/css2?fomily=Poppins:wght@200; 300; 400; 500; 600; 700; 900&display =swap'):

{
  font-family: 'poppins', sans-serif;
  margin: 0;
  podding: 0;
  box-sizing: broder-box;
  list-style: none;
  text-decoration: none; 
  scroll-padding-top: 2rem; 
  scroll-behavior: smooth;
  
}

img{
  width: 100%;
}

body{
  color: var(--text-color);
}

header{
position: fixed;
width: 100%;
top:0;
right:0;
z-index: 1000;
display: flex;
align-items: center; 
justify-content: space-between; 
  background: var(--bg-color);
box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
padding: 20px 100px; transition: 0.5s;
}

.profile {
display: flex; 
  align-items: center; 
  column-gap: 0.5rem; 
  cursor: pointer;
}

.profile img{
width: 40px;
height: 40px;
object-fit: cover; 
object-position: center;
border-raduis: 50%;
}

profile span{
  font-size: 13px;
  fontweight: 500;
}
